:root {
    --navy-blue: #1C283D;
    --coral-red: #FF4029;
    --light-grey: #E9EBF0;
    --fog-blue: #A0AFBA;
    --royal-blue: #59687A;
    --white: #fff;
    --deep-blue: #00060D;
    --font-primary: Verdana, Arial, sans-serif;
    --transition-default: 0.3s ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-primary);
    line-height: 1.5;
    font-size: 18px;
    color: var(--navy-blue);
    overflow-x: hidden;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

button {
    cursor: pointer;
    border: none;
    background: none;
    outline: none;
    font: inherit;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-style: normal;
    font-size: 1em;
}

ul,
menu {
    list-style-type: none;
}

a {
    color: currentColor;
    text-decoration: none;
}