header {
    height: 1100px;
    padding: 160px 245px 0;
}

header::after {
    content: url('/assets/images/mouse.svg');
    position: absolute;
    left: 50%;
    bottom: 110px;
    width: 0;
    overflow: visible;
}

header h1 {
    font-size: 140px;
    font-weight: bold;
}

header,
main {
    overflow-x: hidden;
}

main>article {
    padding: 120px 245px;
}

main>article h2 {
    font-size: 60px;
    font-weight: bold;
    display: flex;
    align-items: center;
    color: var(--title-color);
}

main>article h2+* {
    margin-top: 60px;
}

main>article h2,
main>article h3,
main>article h4 {
    width: 100%;
}

.sections {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap);
}

.sections>section.grey {
    background-color: var(--light-grey);
    --number-color: var(--white);
    color: var(--navy-blue);
}

.sections>section.red {
    background-color: var(--coral-red);
    --number-color: rgba(0, 6, 13, 0.3);
    color: var(--white);
}

.sections>section.navy-blue {
    background-color: var(--navy-blue);
    --number-color: var(--deep-blue);
    color: var(--light-grey);
}

.sections>section.royal-blue {
    background-color: var(--royal-blue);
    --number-color: rgba(28, 40, 61, 0.3);
    color: var(--light-grey);
}

.sections>section.fog-blue {
    background-color: var(--fog-blue);
    --number-color: var(--white);
    color: var(--deep-blue);
}

.sections>section.white {
    background-color: var(--white);
    --number-color: var(--light-grey);
    color: var(--deep-blue);
}

.sections.with-section-number>section:nth-of-type(1) {
    --nth: '01'
}

.sections.with-section-number>section:nth-of-type(2) {
    --nth: '02'
}

.sections.with-section-number>section:nth-of-type(3) {
    --nth: '03'
}

.sections.with-section-number>section:nth-of-type(4) {
    --nth: '04'
}

.sections.with-section-number>section:nth-of-type(5) {
    --nth: '05'
}

.sections.with-padding>section {
    padding: 60px;
}

.sections.with-section-number>section {
    padding: 100px 60px;
    position: relative;
}

.sections.with-section-number>section>* {
    position: relative;
}

.sections.with-section-number>section::before {
    content: var(--nth);
    position: absolute;
    top: 0;
    left: 0;
    font-size: 160px;
    font-weight: bold;
    color: var(--number-color);
}

.sections.sections>section.full-row {
    width: 100%;
}

.sections.two-in-row>:nth-child(1 of section:not(.full-row)),
.sections.two-in-row>:nth-child(1 of section:not(.full-row))~section:not(.full-row) {
    width: calc((100% - var(--gap))/2);
}

.sections.three-in-row>:nth-child(1 of section:not(.full-row)),
.sections.three-in-row>:nth-child(1 of section:not(.full-row))~section:not(.full-row) {
    width: calc((100% - var(--gap)*2)/3);
}

.sections>section h3 {
    font-size: 32px;
    font-weight: bold;
}

.sections>section h4 {
    font-weight: bold;
}

.sections>section h3+* {
    margin-top: 60px;
}

.sections>section h4+* {
    margin-top: 1em;
}

@media (max-width: 1290px) {
    header {
        padding: 210px 24px 0;
        height: auto;
        min-height: 874px;
    }

    header::after {
        display: none;
    }

    header h1 {
        font-size: 56px;
    }

    main>article {
        padding-left: 24px;
        padding-right: 24px;
    }
}