.button {
    font-weight: bold;
    padding: 20px 100px;
    box-shadow: var(--box-shadow-color) 10px -10px;
    display: inline-block;
    transform: translateY(10px);
}

.button:hover {
    cursor: pointer;
}

.button.secondary {
    background-color: var(--white);
    color: var(--deep-blue);
    --box-shadow-color: var(--coral-red);
}